extends layout.pug

block content
  main
    for post in blogs
      h2= post.author
      p=post.body
      form(method="POST", action=`/${post.id}?_method=DELETE`)
        input(type="submit", value="Delete Blog")
