extends layout.pug

block content
  main
    h1 I'll be an h1 tag
    ul
      for post in blogs
        li= post.author
    p.alert Here's a body of text with that class 'alert!'
    .action divs are so common you can just write the class
